* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000000;
}

header {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  align-items: center;
  display: flex;
  border-bottom: 1px solid #222;
  z-index: 10;
}
.logo {
  position: absolute;
  left: 10px;
  width: 70px;
  height: 70px;
}

.logo-bg {
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeg2CpdNm5O6cvYMlbxJ_82Q66KuqcO5G6dw&s') no-repeat center/contain;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
nav {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
}

nav a {
  color: rgb(71, 70, 105);
  text-decoration: none;
  margin: 10px;
  text-transform: uppercase;
}

section {
  padding: 40px 70px;
}

.hero {
  color: white;
  text-align: center;
  padding: 50px 20px;
}
.hero-bg {
  background: url('https://cdn.unasp.br/unasp-noticias/2024/10/22120308/semana_colportagem-1024x682.jpg') no-repeat center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.content {
  position: relative;
  z-index: 1;
  padding: 
}
